<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aplan.mapper.ScheduleJobMapper">

    <delete id="delBtc">
        delete from tz_schedule_job where job_id IN
        <foreach collection="ids" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>


    <select id="selectSchedulePage" resultType="com.aplan.bean.model.quartz.ScheduleJob">
        select *
        from tz_schedule_job
        <where>
            <if test="sp.jobName != null and sp.jobName != ''">
                and job_name like concat('%',#{sp.jobName},'%')
            </if>
        </where>
    </select>

</mapper>
