<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aplan.mapper.SysRoleMapper">


    <select id="selectSysRuleModelByUserId" resultType="java.lang.String">
        select  sr.role
        from sys_role sr
        left join sys_user_role sur on sur.role_id = sr.id
        <where>
            and sur.user_id = #{userId}
        </where>
    </select>


    <select id="selectSysRuleModelByUserId2" resultType="java.lang.String">
        select  sr.id
        from sys_role sr
        left join sys_user_role sur on sur.role_id = sr.id
        <where>
            and sur.user_id = #{userId}
        </where>
    </select>

    <select id="selectSysRoleModelPage" resultType="com.aplan.bean.model.SysRoleModel">
        select *
        from sys_role
        <where>
            and role != 'admin'
            <if test="sp.role != null and sp.role != ''">
                and role like concat('%',#{sp.role},'%')
                or role_name like concat('%',#{sp.role},'%')
            </if>
            <if test="sp.roleRemark != null and sp.roleRemark != ''">
                and role_remark like concat('%',#{sp.roleRemark},'%')
            </if>
        </where>
    </select>
    <select id="selectUserRoleByUserId" resultType="com.aplan.bean.param.LabelValue">
        select  sr.role_name label,sr.id value
        from sys_role sr
        left join sys_user_role sur on sur.role_id = sr.id
        <where>
            and sur.user_id = #{userId}
        </where>
    </select>
    <select id="selectSysRoleList" resultType="com.aplan.bean.model.SysRoleModel">
        select * from sys_role where role != 'admin'
    </select>

    <delete id="btcDel">
        delete from sys_role where id IN
        <foreach collection="ids" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>


</mapper>
