<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aplan.mapper.SysUserDtoMapper">



    <resultMap id="userRole" type="com.aplan.bean.dto.SysUserDto">
        <id column="user_id" jdbcType="VARCHAR" property="userId" />
        <result column="alias" jdbcType="VARCHAR" property="alias" />
        <result column="username" jdbcType="VARCHAR" property="username" />
        <result column="depart_name" jdbcType="VARCHAR" property="departName" />
        <result column="position_name" jdbcType="VARCHAR" property="positionName" />
        <result column="enabled" jdbcType="TINYINT" property="enabled" />
        <result column="mobile" jdbcType="VARCHAR" property="mobile" />
        <result column="sex" jdbcType="TINYINT" property="sex" />
        <result column="avatar" jdbcType="VARCHAR" property="avatar" />
        <result column="introduction" jdbcType="VARCHAR" property="introduction" />
        <result column="position_id" jdbcType="VARCHAR" property="positionId" />
        <collection property="roles"  ofType="java.lang.String">
            <result column="role_id" />
        </collection>
    </resultMap>


    <delete id="btcDel">
        delete from sys_user where user_id IN
        <foreach collection="ids" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>


<!--    <select id="selectSysUserModelPage" resultType="com.aplan.bean.dto.SysUserDto">-->
    <select id="selectSysUserModelPage" resultMap="userRole">
        SELECT
        su.*,sur.role_id,sd.depart_name,sdp.position_name
        from sys_user su
        left join sys_user_role sur on sur.user_id = su.user_id
        left join sys_depart sd on sd.depart_id = su.depart_id
        left join sys_depart_position sdp on sdp.position_id = su.position_id
        <where>
            and su.username != 'admin'
            <if test="sp.alias != null and sp.alias != ''">
                and su.alias like concat('%',#{sp.alias},'%')
                or su.username like concat('%',#{sp.alias},'%')
            </if>
            <if test="sp.mobile != null and sp.mobile != ''">
                and su.mobile like concat('%',#{sp.mobile},'%')
            </if>
            <if test="sp.enabled != null">
                and su.enabled = #{sp.enabled}
            </if>
            <if test="sp.departId != null and sp.departId != ''">
                and su.depart_id = #{sp.departId}
            </if>
            <if test="sp.sex != null">
                and su.sex = #{sp.sex}
            </if>
        </where>
    </select>

    <select id="selectByUserId" resultType="com.aplan.bean.dto.SysUserDto">
        SELECT
            su.*,sd.depart_name,sdp.position_name
        from sys_user su
        left join sys_user_role sur on sur.user_id = su.user_id
        left join sys_depart sd on sd.depart_id = su.depart_id
        left join sys_depart_position sdp on sdp.position_id = su.position_id
        <where>
            and su.user_id = #{userId}
        </where>
    </select>


</mapper>
