<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aplan.mapper.SysUserOnlineMapper">


    <select id="selectSysUserOnlinePage" resultType="com.aplan.bean.dto.UserOnlineDto">
        select
            su.username,su.alias,sd.depart_name,sdp.position_name,sl.ip ipv4,sl.browser_name,sl.create_time,sl.token
        from sys_user_online suo
        left join sys_user su on su.user_id = suo.user_id
        left join sys_depart sd on sd.depart_id = su.depart_id
        left join sys_depart_position sdp on sdp.position_id = su.position_id
        left join sys_log sl on sl.log_id = suo.log_id and sl.token = suo.token
        <where>
            and suo.status = 0
            <if test="sp.username != null and sp.username != ''">
                and su.username like concat('%',#{sp.username},'%')
            </if>
            <if test="sp.ipv4 != null and sp.ipv4 != ''">
                and sl.ip = #{sp.ipv4}
            </if>
        </where>
        order by sl.create_time desc
    </select>

</mapper>
