<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aplan.mapper.SysRuleMapper">


    <resultMap id="router" type="com.aplan.bean.dto.RouterDto">
        <result column="path" jdbcType="VARCHAR" property="path"/>
        <result column="component" jdbcType="VARCHAR" property="component"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="hidden" jdbcType="TINYINT" property="hidden"/>
        <result column="parent_id" jdbcType="VARCHAR" property="parentId"/>
        <result column="id" jdbcType="VARCHAR" property="id"/>
        <collection property="meta"  ofType="com.aplan.bean.dto.MetaDto">
            <result column="title" jdbcType="VARCHAR" property="title"/>
            <result column="icon" jdbcType="VARCHAR" property="icon"/>
            <result column="no_cache" jdbcType="TINYINT" property="noCache"/>
        </collection>
    </resultMap>


    <select id="selectRoleModelList" resultType="java.lang.String">
        SELECT sr.role
        FROM sys_rule_role AS srr
        LEFT JOIN sys_role AS sr ON srr.role_id = sr.id
        WHERE srr.rule_id = #{ruleId}
    </select>



    <select id="selectByUserId" resultType="java.lang.String">
        select distinct sr.perms
        from sys_rule sr
        left join sys_rule_role AS srr on srr.rule_id = sr.id
        left join sys_user_role sur on sur.role_id = srr.role_id
        <where>
            and rule_level = 3
            <if test="userId!=null and userId!=''">
                and sur.user_id = #{userId}
            </if>
        </where>
    </select>

    <select id="selectByRoleId" resultType="java.lang.String">
        select  sr.id
        from sys_rule sr
        left join sys_rule_role AS srr on srr.rule_id = sr.id
        <where>
            <if test="ruleLevel != null">
                and sr.rule_level = #{ruleLevel}
            </if>
            <if test="roleId !=null and roleId!=''">
                and srr.role_id = #{roleId}
            </if>
        </where>
    </select>

    <select id="selectSysRuleModelPage" resultType="com.aplan.bean.model.SysRuleModel">
        select * from sys_rule
        <where>
            <if test="sp.ruleName != null and sp.ruleName != ''">
                and rule_name like concat('%',#{sp.ruleName},'%')
                or rule_url like concat('%',#{sp.ruleUrl},'%')
            </if>
            <if test="sp.perms != null and sp.perms != ''">
                and perms like concat('%',#{sp.perms},'%')
            </if>
            <if test="sp.ruleRemark != null and sp.ruleRemark != ''">
                and ruleRemark like concat('%',#{sp.ruleRemark},'%')
            </if>
            <if test="sp.parentId != null and sp.parentId != ''">
                and parent_id = #{sp.parentId}
            </if>
            <if test="sp.ruleType != null and sp.ruleType != ''">
                and rule_type = #{sp.ruleType}
            </if>
        </where>
    </select>

    <select id="selectSysRuleModelList" resultType="com.aplan.bean.model.SysRuleModel">
        select
               *
        from sys_rule
        <where>
            <if test="ruleLevel != null">
                and rule_level &lt;= #{ruleLevel}
            </if>
            <if test="id != null and id != ''">
                and id != #{id}
            </if>
            <if test="ruleName != null and ruleName != ''">
                and rule_name like concat('%',#{ruleName},'%')
                or rule_url like concat('%',#{ruleName},'%')
            </if>
        </where>
        order by rule_order desc
    </select>

    <select id="selectSysRuleModelList2" resultType="com.aplan.bean.dto.SysRuleDto">
        select
               id,
               rule_name as label,
               parent_id
        from sys_rule
        <where>
            <if test="ruleLevel != null">
                and rule_level &lt;= #{ruleLevel}
            </if>
            <if test="id != null and id != ''">
                and id != #{id}
            </if>
        </where>
        order by rule_order desc
    </select>

    <!--一个用多个角色，拥有的权限部分重复的情况-->
    <select id="selectByRoleIds" resultType="com.aplan.bean.model.SysRuleModel">
        select distinct sr.*
        from sys_rule sr
        left join sys_rule_role AS srr on srr.rule_id = sr.id
        left join sys_user_role AS sur on sur.role_id = srr.role_id
        <where>
            and rule_level between 1 and 2
            <if test="userId != null and userId != ''">
                and sur.user_id = #{userId}
            </if>
        </where>
    </select>


    <select id="selectAll" resultType="java.lang.String">
        select perms from sys_rule where rule_level = 3
    </select>

    <select id="selectByRuleLevelThree" resultType="com.aplan.bean.model.SysRuleModel">
        select * from sys_rule where rule_level != 3
    </select>
    <select id="selectByParentId" resultType="com.aplan.bean.model.SysRuleModel">
        select * from sys_rule where parent_id = #{parentId}
    </select>

    <select id="selectMenus" resultMap="router">
        select distinct
                        sr.rule_name title,
                        sr.no_cache ,
                        sr.component_name name,
                        sr.component_path component,
                        sr.rule_hide hidden,
                        sr.rule_icon icon,
                        sr.id,
                        sr.parent_id,
                        sr.rule_url path
        from sys_rule sr
        left join sys_rule_role AS srr on srr.rule_id = sr.id
        left join sys_user_role AS sur on sur.role_id = srr.role_id
        <where>
            and rule_level between 1 and 2
            <if test="userId != null and userId != ''">
                and sur.user_id = #{userId}
            </if>
        </where>
    </select>


</mapper>
