<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aplan.mapper.SysUserMapper">


    <select id="selectSysUserModelPage" resultType="com.aplan.bean.dto.SysUserDto">
        select * from sys_user
        <where>
            <if test="sp.alias != null and sp.alias != ''">
                and alias like concat('%',#{sp.alias},'%')
                or username like concat('%',#{sp.alias},'%')
            </if>
        </where>
    </select>


</mapper>
